# Objective
At the end of this session successful students will be able to:

 * understand the idea of higher order functions

## Coverage

 * is_square() family
 * First class functions
 * Higher order functions
 * **map**, **filter**

In [ ]:
def name_me(n: int) -> bool:
    r = 0
    while r * r < n:
        r += 1
    return r * r == n

In [ ]:
print(name_me(9))
print(name_me(25))
print(name_me(7))

True
True
False

In [ ]:
def is_perfect_square(n: int) -> bool:
    r = 0
    while r * r < n:
        r += 1
    return r * r == n

In [ ]:
def wall_e(n: int) -> bool:
    r = 0
    while r * r * r < n:
        r += 1
    return r * r * r == n

In [ ]:
def is_perfect_cube(n: int) -> bool:
    r = 0
    while r * r * r < n:
        r += 1
    return r * r * r == n

print(is_perfect_cube(8))
print(is_perfect_cube(27))

True
True

In [ ]:
def eve(n: int) -> bool:
    r = 0
    while 3 ** r < n:
        r += 1
    return 3 ** r == n

In [ ]:
def is_power_of_3(n: int) -> bool:
    r = 0
    while 3 ** r < n:
        r += 1
    return 3 ** r == n

In [ ]:
def cedric(n: int) -> bool:
    r = 0
    while r * (r + 1) < n * 2:
        r += 1
    return r * (r + 1) == n * 2

In [ ]:
def is_triangular_num(n: int) -> int:
    r = 0
    while r * (r + 1) < n * 2:
        r += 1
    return (r * (r + 1)) // 2 == n

In [ ]:
from collections.abc import Callable

def is_function(func: Callable, n: int) -> bool:
    r = 0
    while func(r) < n:
        r += 1
    return func(r) == n

In [ ]:
def triangular(r: int) -> int:
    return (r * (r + 1)) // 2

def is_triangular(n: int) -> bool:
    return is_function(triangular, n)

In [ ]:
def square(k: int) -> int:
    return k * k

def is_perfect_square(n: int) -> bool:
    return is_function(square, n)

In [ ]:
is_perfect_square(16)

True

In [ ]:
my_function = triangular
my_function

#Higher Order Functions

Passing function as an argumen

return function as the result

or both!

There are two very useful higher order functions in the built-ins
   * map
   * filter

# How to add certain value to each item in any iterator

* Say marks of students are available in an iterator (say list) and want to add 3 as grace marks to all

In [ ]:
marks = [70, 60, 65, 80, 55]
updated_marks = []
for mark in marks:
    updated_marks.append(mark + 3)
print(updated_marks)

updated_marks_comprehsion = [mark + 3 for mark in marks]
print(updated_marks_comprehsion)

[73, 63, 68, 83, 58]
[73, 63, 68, 83, 58]

**Use Higher Order Function: map**

* map(f, l) -> f(l[0]), f(l[1]), .... f(l[-1])

* Applying the same rule for all elements

* Returns same size as input size

* Return data type is same as return type of function

* Map returns map object, need to type cast to say list to view

In [ ]:
def grace_3_points(x: int) -> int:
    return x + 3

updated_marks = map(grace_3_points, marks)

print(updated_marks)
print(list(updated_marks))

<map object at 0x7c178e8290f0>
[73, 63, 68, 83, 58]

In [ ]:
updated_marks_lambda = map(lambda x: x + 3, marks)
print(updated_marks_lambda)
print(list(updated_marks_lambda))

<map object at 0x7c178e8284c0>
[73, 63, 68, 83, 58]

**How to remove certain items?**

How to remove items from an iterator

which does not satisfy given condition?

Say we have list of marks in a list and want to have only more than pass marks,say 40

In [ ]:

marks = [50, 60, 35, 39, 70, 75, 85, 30]
updated_marks = []
for mark in marks:
    if mark > 40:
        updated_marks.append(mark)

updated_marks_lc = [mark for mark in marks if mark > 40]

print(updated_marks)
print(updated_marks_lc)

[50, 60, 70, 75, 85]
[50, 60, 70, 75, 85]

In [ ]:
filter_with_grace3 = filter(grace_3_points, marks)

print(filter_with_grace3)
print(list(filter_with_grace3))

<filter object at 0x7c178e82ae00>
[50, 60, 35, 39, 70, 75, 85, 30]

In [ ]:
bool(0)

False

In [ ]:
bool(63)

True

**Use Higher Order Function: filter**

filter(f, l) -> f(l[x]), say, item x, which satisfies given condition

Returns subset or part of provided iterator or container

Filter returns filter object, need to type cast to required data type (say list) to
view

In [ ]:
def passed(x: int) -> bool:
    return x > 40

marks = [50, 60, 35, 39, 70, 75, 85, 30]
updated_marks = filter(passed, marks)

updated_marks_lambda = filter(lambda x: x > 40, marks)

print(updated_marks)
print(list(updated_marks))

print(updated_marks_lambda)
print(list(updated_marks_lambda))


map_of_passed = map(passed, marks)
print(map_of_passed)
print(list(map_of_passed))

<filter object at 0x7c178e829300>
[50, 60, 70, 75, 85]
<filter object at 0x7c178e829c00>
[50, 60, 70, 75, 85]
<map object at 0x7c178e828fa0>
[True, True, False, False, True, True, True, False]

# Problem 01:

Put the digits of a number into a list

In [ ]:
# num_to_digits(1729) # -> [1, 7, 2, 9]
def num_to_digits(n: int) -> list[int]:
    digits = []
    for str_num in str(n):
        digits.append(int(str_num))
    return digits

def num_2_digits(n: int) -> list[int]:
    return list(map(int, str(n)))

print(num_to_digits(179))
print(num_2_digits(179))

[1, 7, 9]
[1, 7, 9]

# Problem 02

Take a list of numbers format them to all take up 3 characters and print them as a string

In [ ]:
def format_num(n: int) -> str:
    return f'{n:3d}'

format_num(3)

''.join(map(format_num, range(1, 7)))

'  1  2  3  4  5  6'

# Problem 03

Count vowels, consonants and special characters

In [ ]:
def is_vowel(char: str) -> bool:
    return char in set("aeiouAEIOU")

def is_cons(char: str) -> bool:
    return char.isalpha() and (not is_vowel(char))

def is_special(char: str) -> bool:
    return (not char.isalnum()) and (not char.isspace())

def how_many_chars(s: str) -> tuple[int, int, int]:
    return len(list(filter(is_vowel, s))),  len(list(filter(is_cons, s))), len(list(filter(is_special, s)))

In [ ]:
how_many_chars("I wish, really wish, map & filter are taught earlier!")

(16, 24, 4)

##Assignment - 21-01

###FizzBuzz Problem


Write a function that prints the numbers in the given range but for multiples of **3** print **Fizz** and for multiples of **5** print **Buzz** and for multipes of **3 and 5** print **FizzBuzz**

##Assignment - 21-02

Write a Python program to listout the prime numbers in a given range.

For Example:

prime_sequence(20) => [2, 3, 5, 7, 11, 13, 17, 19]

prime_sequence(30) => [2, 3, 5, 7, 11, 13, 17, 19, 23, 29]

#Assignment - 21-03

#Repeat Sequence Problem

Implement a function to repeat the sequence as per the given order.

**Example**
 - repeat_sequence('ab') => A->Bb
 - repeat_sequence('UVWX') => U->Vv->Www->Xxxx

The first item in the sequence is repeated once, the second item is repeated twice, and so on

You start the sequence with a Capital letter and all following are lower case

Inbetween each sequence is an arrow `->`

Examples:
- `repeat_sequence('abc') # => 'A->Bb->Ccc'`
- `repeat_sequence('ABC') # => 'A->Bb->Ccc'`
- `repeat_sequence('Austin') # => 'A->Uu->Sss->Tttt->Iiiii->Nnnnnn'`