**Objective**

At the end of this session sucessful students will be able to:

    * understand lambda functions, list comprehensions

**Coverage**

    * lambda functions
    * list comprehensions
    * Euler 01

In [ ]:
list(enumerate("hello"))

[(0, 'h'), (1, 'e'), (2, 'l'), (3, 'l'), (4, 'o')]

In [ ]:
nums = [1, 2, 3, 4, 5]
print(list(map(lambda x: x ** 3, nums)))

[1, 8, 27, 64, 125]

In [ ]:
nums = [1, 2, 3, 4, 5]

def cubed(x: int) -> int:
    return x ** 3

print(list(map(cubed, nums)))

In [ ]:
# What is the output?
my_list = [18, -3, 5, 0, -1, 12]
new_list = list(filter(lambda x: x > 0, my_list))
print(new_list)

[18, 5, 12]

In [ ]:
my_list = [18, -3, 5, 0, -1, 12]

def is_positive(x: int) -> bool:
    return x > 0

new_list = list(filter(is_positive, my_list))
print(new_list)

**Lambda functions** also known as anonymous functions

            lambda arguments: expression

**List Comprehension**

    - newlist = [expression for item in iterable if condition == True]

In [ ]:
nums = [1, 2, 3]

def get_cubes(nums: list[int]) -> list[int]:
    cube_nums = []
    for num in nums:
        cube_nums.append(num ** 3)
    return cube_nums

cubed_nums = get_cubes(nums)

print(cubed_nums)

[1, 8, 27]

In [ ]:
nums = [1, 2, 3]
cubed_nums = [num ** 3 for num in nums]

print(cubed_nums)

[1, 8, 27]

In [ ]:
# you can also make generators
# DON'T NEED TO WORRY ABOUT THIS YET

cubed_tuple = (num ** 3 for num in nums)
print(tuple(cubed_tuple))

(1, 8, 27)

In [ ]:
my_string = "TechWise is super cool"
my_list = [char for char in my_string if char in "aeiouAEIOU"]
print(my_list)

['e', 'i', 'e', 'i', 'u', 'e', 'o', 'o']

In [ ]:
my_string = "TechWise is super cool"
my_vowels_capitalized = [char.upper().lower for char in my_string if char in "aeiouAEIOU"]
print(my_vowels_capitalized)

['e', 'i', 'e', 'i', 'u', 'e', 'o', 'o']

In [ ]:
my_string = "TechWise is super cool"
my_vowels_count = len([char.upper().lower for char in my_string if char in "aeiouAEIOU"])
print(my_vowels_count)

8

In [ ]:
#Guess the output
numbers = [1, 4, 9, 16, 25, 36, 49, 64, 81, 100]
[num for num in numbers if num % 2 == 0]

[4, 16, 36, 64, 100]

In [ ]:
#Guess the output
l=[[1 ,2, 3], [4, 5, 6], [7, 8, 9]]
[[row[i] for row in l] for i in range(3)]

[[1, 4, 7], [2, 5, 8], [3, 6, 9]]

#Problem Statement 01

Euler 01

If we list all the natural numbers below 10 that are multiples of 3 or 5, we get 3, 5, 6 and 9. The sum of these multiples is 23.
Write a program that finds the sum of all the multiples of 3 or 5 below 1000.

In [ ]:
### Using filter with lambda
LIMIT = 1000
sum(filter(lambda x: x % 3 == 0 or x % 5 == 0, range(LIMIT)))

233168

In [ ]:
### Using list comprehensions
LIMIT = 1000
sum([x for x in range(LIMIT) if x % 3 == 0 or x % 5 == 0])

233168

#Problem Statement 02

**Special Lists**

A list is special if every even index contains an even number and every odd index contains an odd number. Create a function that returns True if an array is special, and False otherwise.

Examples:

is_special_array([2, 7, 4, 9, 6, 1, 6, 3]) ➞ True

- Even indices: [2, 4, 6, 6]; Odd indices: [7, 9, 1, 3]

is_special_array([2, 7, 9, 1, 6, 1, 6, 3]) ➞ False

- Index 2 has an odd number 9.

is_special_array([2, 7, 8, 8, 6, 1, 6, 3]) ➞ False

- Index 3 has an even number 8.

In [ ]:
def is_special_array(nums: list[int]) -> bool:
	for i in range(len(nums)):
		if i % 2 != nums[i] % 2:
			return False
	return True

In [ ]:
def is_special_array(nums: list[int]) -> bool:
	for i, num in enumerate(nums):
		if i % 2 != num % 2:
			return False
	return True

In [ ]:
#Using List comprehenssions
def is_special_array(lst):
  return all([(i + v) % 2 == 0 for i, v in enumerate(lst)])

In [ ]:
def is_special_list(nums: list[int]) -> bool:
    return nums == [nums[i] for i in range(len(nums)) if nums[i] % 2 == i % 2]

In [ ]:
is_special_array([2, 8, 4, 9, 6, 1, 6, 3])

False

In [ ]:
is_special_array([2, 0, 9, 9, 6, 1, 6, 3])

False

In [ ]:
is_special_array([2, 3, 4, 9, 6, 1, 6, 3])

True

# Problem Statement 03

Primitive Pythagorean Triples

A Pythagorean triple is a set of three integer numbers that form a right triangle. The sum of the squares of the two smaller numbers should equal the square of the largest number. Given three numbers a, b and c (c being the largest):

> a^2 + b^2 = c^2

Furthermore, a Pythagorean triple is said to be primitive if the three numbers are pairwise coprime - that is, the greatest common prime factor between any two numbers is 1.

Create a function that takes a list of three numbers (unordered) and returns True if the numbers constitute a primitive Pythagorean triple, False otherwise.

Examples

is_prim_pyth_triple([4, 5, 3]) ➞ True

is_prim_pyth_triple([7, 12, 13]) ➞ False

is_prim_pyth_triple([39, 15, 36]) ➞ False

    Pythagorean triple, but not primitive.

is_prim_pyth_triple([77, 36, 85]) ➞ True

In [ ]:
import math

def is_prim_pyth_triple(nums: list[int]) -> bool:
    a, b, c = sorted(nums)
    return (a * a + b * b == c * c) and math.gcd(a, b) == 1

# Problem Statements 04

**Bigrams**

You are given an input array of bigrams, and an array of words.

Write a function that returns True if every single bigram from this array can be found at least once in an array of words.

Examples:

can_find(["at", "be", "th", "au"], ["beautiful", "the", "hat"]) ➞ True

can_find(["ay", "be", "ta", "cu"], ["maybe", "beta", "abet", "course"]) ➞ False

* "cu" does not exist in any of the words.

can_find(["th", "fo", "ma", "or"], ["the", "many", "for", "forest"]) ➞ True

can_find(["oo", "mi", "ki", "la"], ["milk", "chocolate", "cooks"]) ➞ False


Note:

* A bigram is string of two consecutive characters in the same word.

* If the list of words is empty, return False.

In [ ]:
def can_find(bigrams, words):
  return all([any([bigram in word for word in words]) for bigram in bigrams])

In [ ]:
can_find(["at", "be", "th", "au"], ["beautiful", "the", "hat"])

True

In [ ]:
can_find(["oo", "mi", "ki", "la"], ["milk", "chocolate", "cooks"])

#Assignment - 22 - 01

## Euler Problem-2
Each new term in the Fibonacci sequence is generated by adding the previous two terms. By starting with 1 and 2, the first 10 terms will be:

1, 2, 3, 5, 8, 13, 21, 34, 55, 89, ...

By considering the terms in the Fibonacci sequence whose values do not exceed four million, find the sum of the even-valued terms.

In [ ]:
def euler2(limit: int)-> int:
    #Write your code here
    return

#Assignment - 22 - 02

Generate the Amstrong numbers between two given numbers.

Example:

make_armstrong(100, 1000) => [153, 370, 371, 407]

In [ ]:
def make_armstrong(start: int, limit: int)-> list[int]:
    #Write your code here
    return

#Assignment - 22- 03

Write a function that classifies given list of numbers into **Even** and **Odd** Sublists.

In [ ]:
def split_even_odd_sublist(num_list: list[int]) -> tuple[list[int], list[int]]:
    #Write your code here
    return