
#Session 19

* Types of Arguments
    - Required Arguments
    - Default Arguments
    - Variable-length Arguments
    - Keyword Arguments

* Assignments:
     - Calculate Perimeter Problem
     - Concatenate the strings in the reverse order Problem

https://docs.python.org/3/glossary.html#term-parameter

#TYPE OF ARGUMENTS

##Required Arguments

##Problem - 1

Implement a function which calculate the sum of digits of a number.

In [ ]:
def sum_of_digits(num: int)-> int:
    total = 0
    while num > 0:
        total += num % 10
        num //= 10
    return total

sum_of_digits(1234)

10

In [ ]:
sum_of_digits()

TypeError: sum_of_digits() missing 1 required positional argument: 'num'

## Default Arguments


* Function arguments can have default values in Python.

* We can provide a default value to an argument by using the assignment operator ( = ).

In [ ]:
def sum_of_digits(num: int=0)-> int:
    total = 0
    while num > 0:
        total += num % 10
        num //= 10
    return total

print(sum_of_digits(1234))
print(sum_of_digits())

10
0

##Problem - 2

Implement a function to calculate the gross salary of an employee for the month of March. He is expecting 10% of HRA and 12% of TA on his basic salary. This month every employee will receive a $500 as a bonus.

In [ ]:
def calculate_gross(salary:int)->int:
    Total = 0
    Total += salary
    Total += salary * .1
    Total += salary * .12
    Total += 500
    return Total

calculate_gross(3000)

In [ ]:
def calculate_gross(basic_salary: float, bonus: float = 500)-> float:
    hra = basic_salary * 0.1
    ta = basic_salary * 0.12
    return basic_salary + ta + hra + bonus

calculate_gross(3000)

4160.0

##Variable-length Arguments ( *args )


##Problem - 3

Calculate the sum of given numbers.

In [ ]:
calc_sum(2, 3, 4) # this would return 9
#calc_sum(2)
#calc_sum(2, 3)
calc_sum(1,2,3,4,6)

TypeError: calc_sum() takes 3 positional arguments but 5 were given

In [ ]:
def calc_sum(num1 : int, num2: int, num3: int) -> int:
    return num1 + num2 + num3

calculate_sum(32, 87, 90)

209

In [ ]:
def calculate_sum(*nums: int):
  total = 0
  print(type(nums))
  for item in nums:
    total += item
  return total

print(calculate_sum(12, 10, 14, 56, 90))
print(calculate_sum(10, 20, 30))
print(calculate_sum(1, 2, 3, 4, 5, 6, 7, 8, 9))
print(calculate_sum())
print(calculate_sum(1))

<class 'tuple'>
182
<class 'tuple'>
60
<class 'tuple'>
45
<class 'tuple'>
0
<class 'tuple'>
1

In [ ]:
def calc_sum(*args) -> int:
    return sum(args)

print(calc_sum(*[1, 2, 3, 4, 5], 6, 7))
print(calc_sum(1, 2, 3, 4, 5, 6, 7))

28
28

##Problem - 4

Write a function which take multiple strings as input. If the length of the string is less than 3 change it to upper case otherwise convert it to lower case and finally concatenate these converted strings.

In [ ]:
def convert_strings(*words: str) -> str:
    result = ""
    for word in words:
        if len(word) < 3:
            result += word.upper()
        else:
            result += word.lower()
    return result

print(convert_strings("Welcome" , "to", "Talentsprint", "Program."))

list_of_words = ['hello', 'world', 'how ', 'are', 'you']
print(convert_strings(*list_of_words))

tup_of_words = ('hello', 'world', 'how ', 'are', 'you')
print(convert_strings(*tup_of_words))

welcomeTOtalentsprintprogram.
helloworldhow areyou
helloworldhow areyou

#Keyword arguments(**kwargs)

* How to Use **kwargs in Python
   
   $**$kwargs allows us to pass a variable number of keyword arguments to a Python function. In the function, we use the double-asterisk (**) before the parameter name to denote this type of argument.

* Keyword arguments can be likened to dictionaries in that they map a value to a keyword.

* Thus we see that the arguments, in this case, are passed as a dictionary and these arguments make a dictionary inside the function with name same as the parameter excluding **.

In [ ]:
def capitals(**kwargs):
    print(type(kwargs))
    return kwargs


capitals(India= "New Delhi", China= "Beijing", Bangladesh= "Dhaka", England= "London")

<class 'dict'>

{'India': 'New Delhi',
 'China': 'Beijing',
 'Bangladesh': 'Dhaka',
 'England': 'London'}

Note that the name of the argument need not necessarily be kwargs â€“ again, it can be anything. In this case, it's fruits. But it's generally a standard way to use **kwargs as the name.

In [ ]:
def total_fruits(**fruits):
    total = 0
    print(type(fruits))
    for amount in fruits.values():
        total += amount
    return total


print(total_fruits(banana=5, mango=7, apple=8))
print(total_fruits(banana=5, mango=7, apple=8, oranges=10))
print(total_fruits(banana=5, mango=7))

dict_of_fruits = {'banana': 5, 'mango': 7}
print(total_fruits(**dict_of_fruits))

<class 'dict'>
20
<class 'dict'>
30
<class 'dict'>
12
<class 'dict'>
12

#Problem - 5

Write a function to average of the marks scored from the given arguments.

In [ ]:
def average_marks_scored(**marks):
    total, count = 0, 0
    for arg in marks.values():
        total += arg
        count += 1
    return total / count

print(average_marks_scored(math = 65, science = 77, english = 81))
print(average_marks_scored(math = 65, science = 77, english = 81, GK = 70))

74.33333333333333
73.25

In [ ]:
def calc_sum(num1 : int=0, num2: int=0, num3: int=0) -> int:
    print(num1)
    print(num2)
    print(num3)
    return num1 + num2 + num3

calc_sum(32, 90)

32
90
0

122

##Assignment - 19-01

###calculate the perimeter

Write one function to calculate the perimeter of triangle, rectangle, pentagone, hexagone.

In [ ]:
def perimeter_of_shape(*side)->int:
  #write your code here
  return

#Assignment - 19 - 02

###Concatenate the strings in the reverse order

Write a function which take multiple strings as input. Concatenate the strings in the reverse order after reversing the strings.

In [ ]:
def display_in_reverse_order(*strings)->str:
    #Write your code here
    return