##Assignment - 19-01

###calculate the perimeter

Write one function to calculate the perimeter of triangle, rectangle, pentagone, hexagone.

In [ ]:
def perimeter_of_shape(*side)->int:
  return sum(side)

#Assignment - 19 - 02

###Concatenate the strings in the reverse order

Write a function which take multiple strings as input. Concatenate the strings in the reverse order after reversing the strings.

In [2]:
def display_in_reverse_order(*strings) -> str:
    reversed_strings = [string[::-1] for string in strings]
    concatenated_string = ''.join(reversed(reversed_strings))
    return concatenated_string

print(display_in_reverse_order("hello", "world"))

dlrowolleh

In [4]:
def display_in_reverse_order(*strings) -> str:
    reversed_strings = []
    for string in strings:
        reversed_string = string[::-1]
        reversed_strings.append(reversed_string)
    concatenated_string = ''.join(reversed(reversed_strings))
    return concatenated_string

print(display_in_reverse_order("hello", "world"))

dlrowolleh

##Assignment - 20 - 01

##Count vowels and consonants

Write a program to read the content from the "Content.txt" file and return the count of vowels and consonants.

Content.txt
https://drive.google.com/file/d/1h60E9b3r9ecFLPxnd5lYzDzLiza0NsK3/view?usp=sharing

##Assignment - 20 - 02

##Add Rank to the students

Implement a program to rank the students according to their marks.

Note: The ranking system:

If two students of the class get equal marks, they are given the same rank but students with different marks are given the rank as the (number of students above them + 1). See the example for more clarity.

There are five students in a class. Their marks distribution is:
98 68 74 21 74

That is first student gets marks 98, second gets 68, and so on.
Now , the highest marks is 98. So, the first student gets rank 1.
Next higher marks is 74. So student 3 and 5 gets rank 2.
Next higher marks is 68 and there are three students (1,3,5) who have got marks higher than him. So he gets rank 4.
Similarly , student with marks 21 gets rank 5.


Sample data in the file

    John, 84
    Micheal, 90
    Peter, 65
    Jenny, 90
    Ryan, 77
    Ashaa, 84
    Kerry, 52
    Kingsley, 17
    Wincy, 95
    Princy, 95
    Johnright, 65
    Mike, 76
    Peterpot, 64
    Mark, 98
    Raj, 76
    Ashaa, 85
    Perrt, 53
    Queen, 15
    Anshu, 90
    Amar, 92




**Expected Output:**

    1  Mark           98    
    2  Wincy          95    
    2  Princy         95    
    4  Amar           92    
    5  Micheal        90    
    5  Jenny          90    
    5  Anshu          90    
    8  Ashaa          85    
    9  John           84    
    9  Ashaa          84    
    11  Ryan           77    
    12  Mike           76    
    12  Raj            76    
    14  Peter          65    
    14  Johnright      65    
    16  Peterpot       64    
    17  Perrt          53    
    18  Kerry          52    
    19  Kingsley       17    
    20  Queen          15    


Sample file: StudentData.txt
https://drive.google.com/file/d/1dNAPtIZ6McDx9hbXQjPXghjOQ2RoDf9Y/view?usp=sharing

In [9]:
def rank_student(filename: str) -> str:
    ranked_students = ''
    counter = 1

    for key, value in read_file(filename):
      for item in value:

        ranked_students += f'{counter} {item} {key}\n'

      counter += len(value)

    return ranked_students

def read_file(filename: str) -> dict:
    name_dict = {}

    with open(filename, 'r') as data:
      for line in data:

        (val, key) = line.strip("\n").strip().split(", ")

        name_list = name_dict.get(int(key), []) + [val]

        name_dict[int(key)] = name_list


    return sorted(name_dict.items(), reverse=True)



print(rank_student("StudentData.txt"))

1 Mark 98
2 Wincy 95
2 Princy 95
4 Amar 92
5 Micheal 90
5 Jenny 90
5 Anshu 90
8 Ashaa 85
9 John 84
9 Ashaa 84
11 Ryan 77
12 Mike 76
12 Raj 76
14 Peter 65
14 Johnright 65
16 Peterpot 64
17 Perrt 53
18 Kerry 52
19 Kingsley 17
20 Queen 15

In [ ]:
from google.colab import drive
drive.mount('/content/drive')