In [ ]:
range(0, 10)

range(0, 10)

In [ ]:
list(range(0, 10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
nums = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
# IS LAZY
# does make a copy of the list, just returns an object to go through the list backwards

reversed(nums)

In [ ]:
# NOT LAZY
# making a fully copy of the list and returning a new list that is reversed
nums[::-1]

[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

In [ ]:
# LAZY

filter(lambda x: x % 2 == 0, nums)

In [ ]:
# NOT LAZY

list(filter(lambda x: x % 2 == 0, nums))

[0, 2, 4, 6, 8]

In [ ]:
# NOT LAZY

[num for num in nums if num % 2 == 0]

[0, 2, 4, 6, 8]

In [ ]:
# LAZY

map(lambda x: x * 2, nums)

In [ ]:
# NOT LAZY

list(map(lambda x: x * 2, nums))

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [ ]:
# LAZY

range(0, 100000000000000000000000000000000000000000)

range(0, 100000000000000000000000000000000000000000)

In [ ]:
# NOT LAZY

list(range(0, 100000000000000000000000000000000000000000))

OverflowError: Python int too large to convert to C ssize_t

In [ ]:
# USE LAZY THINGS IN A FOR LOOP

nums = [1, 2, 3, 4]

nums_reversed = reversed(nums)

print(nums_reversed)

for num in nums_reversed:
    print(num)

<list_reverseiterator object at 0x7e0c98a46ad0>
4
3
2
1

In [ ]:
# NOT WORK BECAUSE NUMS_REVERSED IS NOT A LIST

nums_reversed.append(0)

In [ ]:
# DEEP COPY, nums_copy IS AN ENTIRELY NEW LIST

nums_copy = nums[:]

In [ ]:
# SHALLOW COPY, NOW IF YOU MODIFY NUMS YOU WILL ALSO MODIY nums_shallow

nums_shallow = nums

#Generators

* Generators are lazy iterators created by **generator functions** (using yield ) or by **generator expressions** - (an_expression for x in an_iterator)

* similar to list, dictionary and set comprehensions, but are enclosed with in the parentheses

In [ ]:
# LAZY, GENERATOR

squares_generator = (number ** 2 for number in range(10))

In [ ]:
# NOT LAZY, LIST COMPREHENSION

squares_comp = [number ** 2 for number in range(10)]

In [ ]:
print(squares_generator)

<generator object <genexpr> at 0x7e0c988f7840>

In [ ]:
print(squares_comp)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [ ]:
# GENERATOR TURNED INTO A TUPLE
print(tuple(squares_generator))

(0, 1, 4, 9, 16, 25, 36, 49, 64, 81)

the above example generates the first 10 perfect squares, including 0

**Generator functions** are similar to regular functions, except that they have one or more yield statements in their
body

In [ ]:
def perfect_square():
    for number in range(10):
        yield number ** 2

In [ ]:
perfect_squares = perfect_square()
print(perfect_squares)

<generator object perfect_square at 0x7e0c9891d070>

In [ ]:
print('First run through', list(perfect_squares))
# IF I TRY TO MAKE A LIST OF perfect_squares AGAIN IT WILL BE EMPTY, IT ALREADY WENT THROUGH THE GENERATOR ONCE
print('Second run through', list(perfect_squares))

First run through [0, 1, 4, 9, 16, 25, 36, 49, 64, 81]
Second run through []

In [ ]:
next(perfect_squares)

StopIteration:

second list is empty, because perfect_squares is already used

when perfect_square() is called in the example above, it
immediately returns a generator object. This allows generators to
consume less memory than functions that return a list, and it allows creating generators that produce infinitely long
sequences. Another advantage is that other code can immediately use the values yielded by a generator, without waiting for
the complete sequence to be produced.

#Fibonacci Sequence

In [ ]:
def fib(a: int = 0, b: int = 1):
    while True:
        yield a
        a, b = b, a + b

In [ ]:
# CREATE OUR GENERATOR
f = fib()

# GENERATOR OBJECT
print(f)

# USE A FOR LOOP TO GET THE "next" 20 fibonacci nubmers (first 20 numbers)
for _ in range(20):
    print(str(next(f)), end=', ')

# PRINT BLANK LINE
print()

# USE A GENERATOR TO GET THE next 5 fibonacci numbers (fib numbers 21-25)
print(', '.join(str(next(f)) for _ in range(5)))

<generator object fib at 0x7e0c9891dc40>
0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377, 610, 987, 1597, 2584, 4181,
6765, 10946, 17711, 28657, 46368

#Problem - 1

## Generate Sequence

Write a Function to generate a sequence in a given limit.

**Example :**

generate_sequence(10) -> [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

generate_sequence(7)  -> [1, 2, 3, 4, 5, 6, 7]

In [ ]:
def generate_sequence(limit: int):
    for i in range(1, limit + 1):
        yield i

In [ ]:
generate_sequence(10)

In [ ]:
tuple(generate_sequence(10))

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [ ]:
tuple(generate_sequence(7))

(1, 2, 3, 4, 5, 6, 7)

In [ ]:
(i for i in range(1, 8+1))

In [ ]:
tuple(i for i in range(1, 8+1))

(1, 2, 3, 4, 5, 6, 7, 8)

#Problem - 2

##Euler Problem - 2

Each new term in the Fibonacci sequence is generated by adding the previous two terms. By starting with 1 and 2, the first 10 terms will be:

1, 2, 3, 5, 8, 13, 21, 34, 55, 89, ...

By considering the terms in the Fibonacci sequence whose values do not exceed four million, find the sum of the even-valued terms.

In [ ]:
def fib_lazy(limit: int):
    a, b = 0, 1
    while a < limit:
        yield a
        a, b = b, a + b

def euler2_lazy(limit: int) -> int:
    return sum(x for x in fib_lazy(limit) if x % 2 == 0)

%timeit euler2_lazy(4000000)

3.78 µs ± 90.7 ns per loop (mean ± std. dev. of 7 runs, 100000 loops each)

In [ ]:
def fib_not_lazy(n):
    a, b = 0, 1
    fibs = []
    while a < n:
        fibs.append(a)
        a, b = b, a+b

    return fibs

def euler2_lc(limit: int)-> int:
    return sum([x for x in fib_not_lazy(limit) if x % 2 == 0])

def euler2_ge(limit: int)-> int:
    return sum(x for x in fib_not_lazy(limit) if x % 2 == 0)

%timeit euler2_lc(4000000)
%timeit euler2_ge(4000000)

4.93 µs ± 1.01 µs per loop (mean ± std. dev. of 7 runs, 100000 loops each)
4.51 µs ± 139 ns per loop (mean ± std. dev. of 7 runs, 100000 loops each)

#Problem - 3

##Fizz-Buzz Problem

Write a program that prints the numbers below a given LIMIT. If it's a multiple of 3, it should print "Fizz". If it's a multiple of 5, it should print "Buzz". If it's a multiple of 3 and 5, it should print "Fizz Buzz". If it's not multiple of 3 or 5 it should print the number itself.

Sample Input

15

Sample Output

['1', '2', 'FIZZ', '4', 'BUZZ', 'FIZZ', '7', '8', 'FIZZ', 'BUZZ', '11', 'FIZZ', '13', '14']

#Problem 4

## Collatz sequence

Suppose there is a positive integer n. Then the next term of the collatz sequence will be as follows:

   * If the previous term is even, the next term is half of the previous term, i.e., n/2
   * If the previous term is odd, the next term is 3 times the previous term plus 1, i.e., 3n+1
   * The sequence will always end at 1.

Solve the above problem using Generators.

**Example**

Input : 3

Output : 3, 10, 5, 16, 8, 4, 2, 1       

Input : 6

Output : 6, 3, 10, 5, 16, 8, 4, 2, 1