# Session 04


* Discuss
    - for
    - lists
      + indexing
      + slicing
      + striding
    - range()
    - sets

## Problems

 * Euler Problem 4
 * Euler Problem 1
 * mm/dd/yyyy -> yyyyddd
 * Assignments:
   - Kaprekar Sequence
   - Collatz Sequence

# for, lists, range
* The python **for** is better thought of as an iterator rather than a loop
    - **for** *item* **in** *collection* starts a block
        + in which item takes the value of the items in the collection in order.
        + Order is defined by the nature of the collection. We will say more about it
* lists are the simplest collection
    - items separated by a comma inside brackets
    - examples [1, 3, 6, -2]
    - heterogenous: [1.2, -7, True, "Hello", [1, 2, 3]]
* lists and for often go together
    - discuss append() method
* range is pre-defined collection
    - range(a) = $[0, 1, .. a - 1]$
    - range(a, b) = $[a, a + 1, .. b - 1]$
    - range(a, b, c) = $[a, a+c, a+2c, .. (<b)]$
    - Explain the upper limit is **NEVER** included
       + This is a general idea in python
       + strong 'computer sciency' reasons (read https://www.cs.utexas.edu/users/EWD/transcriptions/EWD08xx/EWD831.html
    - to see 'inside' a range we have to print(list(range())) -- explanations will be given later

In [ ]:
words = ["hello", "world"]
words.append("!")
words.extend(["how", "are", "you"])
print(words)

['hello', 'world', '!', 'how', 'are', 'you']

In [ ]:
print(list(range(10)))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

## Problem 1
### Euler Problem 4

In [ ]:
def is_palindrome(n: int) -> bool:
    s = str(n)
    return s == s[::-1]
def euler004(start: int, limit: int) -> int:
    palindromes = []
    for a in range(start, limit):
        for b in range(a, limit):
            prod = a * b
            if is_palindrome(prod):
                palindromes.append(prod)
    return max(palindromes)

In [ ]:
def euler004(start: int, limit: int) -> int:
    largest_palindrome = 0
    a = start
    while a < limit:
        b = 1
        while b < limit:
            prod = a * b
            if is_palindrome(prod):
                if largest_palindrome < prod:
                    largest_palindrome = prod
            b += 1
        a += 1
    return largest_palindrome

In [ ]:
euler004(100, 1000)

906609

In [ ]:
max([], default=None)

Discuss comparing with a maximum and retaining only the current maximum.

Obviously the code above needs more space. Point out that if we can solve the space problem this is as good. Pointer for generators later

## Problem 2
### Euler Problem 1

In [ ]:
def euler_001a():
    LIMIT = 1000
    n, total = 1, 0
    while n < LIMIT:
        if n % 3 == 0 or n % 5 == 0:
            total += n
        n += 1
    return total

In [ ]:
def select(n: int) -> bool:
    return (n % 5) * (n % 3) == 0

def euler001a(limit: int) -> int:
    run_sum = 0
    for num in range(1, limit):
        if select(num):
            run_sum += num
    return run_sum

In [ ]:
LIMIT = 1000
euler001a(LIMIT)

233168

In [ ]:
def euler001c(limit: int) -> int:
    return sum(range(3, limit, 3)) + sum(range(5, limit, 5)) - sum(range(15, limit, 15))

In [ ]:
def euler001d(limit: int) -> int:
    return sum(set(range(3, limit, 3)) | set(range(5, limit, 5)))

In [ ]:
LIMIT = 1000
print(euler001c(LIMIT))
print(euler001d(LIMIT))

233168
233168

## Advanced question
## Will be discussed in Saturday session only
Implement version c or d as per the signature below

In [ ]:
def euler001_adv1(limit: int, a: int, b: int) -> int:
    return sum(....)

## Problem 3

Given a string of the form "mmddyyyy", (example: "02072016") compute the seven digit number yyyyddd, where ddd is the $n^{th}$ days of the year. For example  "02072016" is the $38^{th}$ day of the year and 2016038 is the expected result; similarly "12201996" -> 1996355

The idea is to do with data what can be done in code

But in both cases we are not accounting for leap years.

In [ ]:
DAYS_IN_MONTH = [0, 31, 28, 31, 30, 31, 30, 31, 31, 30, 31, 30, 31]

def nthday(s: str) -> int:
    mm = int(s[:2])
    dd = int(s[2:4])
    yyyy = int(s[4:])
    ddd = 0
    for i in range(mm):
        ddd += DAYS_IN_MONTH[i]
    return yyyy * 1000 + ddd + dd

In [ ]:
print(nthday("03202024"))

2024079

Once again we are using the "DATA IS CODE" principle :-)

## Assignment 04-01

1. Take any four-digit number, using at least two different digits (leading zeros are allowed).
2. Arrange the digits in descending and then in ascending order to get two four-digit numbers, adding leading zeros if necessary.
3. Subtract the smaller number from the bigger number.
4. Go back to step 2 and repeat.

This process stops after a few steps, that is step 3 produces the same number. DO this with paper and pen to understand the same
Start with $1945$

$9541 – 1459 = 8082$

$8820 – 0288 = 8532$

$8532 – 2358 = 6174$

$7641 – 1467 = 6174$

Given a suitable starting number generate the sequence. It should not repeat; that is it should stop before the repetition.

For example if $1945$ is input it should return $[1945, 8082, 8532, 6174]$

## Assignment 04-02

1. Start with any number. (For practice try small numbers) say 7
2. if it is even divide by 2, if it is odd multiply by 3 and add 1
3. Repeat

4. THis process reaches at ...4, 2, 1 and then starts repeating

Write a function that generates the sequence ending in 4, 2, 1 for the given starting number

For example $7$ should generate $[7, 22, 11, 34, 17, 52, 26, 13, 40, 20, 10, 5, 16, 8, 4, 2, 1]$

In [ ]:
show_strings_are = "immutable"
show_strings_are[0]="m"

TypeError: ignored