# Session 07

## Problem set

* Find if two strings are anagrams of each other.
* Convert "hh:mm:ss" to seconds and vice versa.
* Convert Figures to Words.

##Problem 1
Write a function to find if two strings are anagrams of each other. An anagram of a string is another string that contains the same characters, only the order of characters can be different. For example, **“silent”** and **“listen”** are an anagram of each other.

In [ ]:
def is_anagram(str1,str2):
    return sorted(str1.lower()) == sorted(str2.lower())

listen = "Liisten"
silent = "Sileint"
is_anagram(listen, silent)

True

In [ ]:
silent

'Silent'

##Problem 2
Convert "hh:mm:ss" to seconds and vice versa .

In [ ]:
def hhmmss_to_sec(time: str)->int:
    t = time.split(':')
    return int(t[0]) * 3600 + int(t[1]) * 60 + int(t[2])

hhmmss_to_sec('1:12:23')

4343

In [ ]:
'1:12:23'.split(':')

['1', '12', '23']

In [ ]:
def hhmmss_to_sec(time: str)->int:
    hh, mm, ss = time.split(':')
    return int(hh) * 3600 + int(mm) * 60 + int(ss)

hhmmss_to_sec('1:12:23')

4343

In [ ]:
def sec_to_hhmmss(seconds: int) -> str:
    hh = seconds // 3600
    mm = (seconds % 3600) // 60
    ss = seconds % 60
    return f"{hh:02d}:{mm:02d}:{ss:02d}"

print(sec_to_hhmmss(1000))
print(sec_to_hhmmss(50000))

00:16:40
13:53:20

# Problem 3

Convert figures to words:

1367 -> "One thousand three hundred and sixty seven"

18934345 -> "Eighteen million nine hundred and thirty four thousand three hundred and forty five"

You can assume that the numbers are below 1 trillion

In [ ]:
def is_single_word(n: int) -> bool:
    return n < 20

def convert2digits(n: int) ->  str:
    single_word = ["", "One ", "Two ", "Three ", "Four ", "Five ", "Six ", "Seven ", "Eight ",
                   "Nine ", "Ten ", "Eleven ", "Twelve ", "Thirteen ", "Fourteen ", "Fifteen ",
                   "Sixteen ", "Seventeen ", "Eighteen ", "Ninteen "]
    tens = ["", "", "Twenty ", "Thirty ", "Forty ", "Fifty ", "Sixty ", "Seventy ", "Eighty ",
            "Ninety "]
    if is_single_word(n):
        return single_word[n]
    else:
        return tens[n // 10] + single_word[n % 10]

def convert3digits(n: int) -> str:
    if n < 100:
        return convert2digits(n)
    if n % 100 == 0:
        return convert2digits(n // 100) + "Hundred "
    else:
        return convert2digits(n // 100) + "Hundred and " + convert2digits(n % 100)

def fig2words(n: int) -> str:
    denoms = {10 ** 9: "Billion ", 10 ** 6 : "Million ", 1000: "Thousand ", 1: ""}
    denom_values = sorted(denoms.keys(), reverse=True)

    in_words = ""

    for denom in denom_values:
        d = n // denom
        if d > 0:
            in_words += convert3digits(d) + denoms[denom]
        n %= denom
    return in_words