##Assignment - 06-01

### Built-in Function **len()**

> *Return the length (the number of items) of an object. The argument may be a sequence (such as a string, bytes, tuple, list, or range) or a collection *





## Problem Statement

Implement a function which accepts a sequence as an argument and  returns the length of the sequence or a collection.



*   Example:


    > length("Hello") --> 5

    > length([]) --> 0
    
    > length((1, 2, 3, 4, 5)) --> 5

In [ ]:
from typing import Any

def length(seq: Any) -> int:
    if seq == "":
        return 0
    else:
        return 1 + length(seq[1:])

In [ ]:
def length(seq) -> int:
    print(seq)
    if seq == "":
        return 0
    else:
        return 1 + length(seq[1:])

In [ ]:
length("Hello") # -> 5

Hello
ello
llo
lo
o

5

In [ ]:
def length(seq) -> int:
    print(repr(seq))
    if not seq:
        return 0
    else:
        return 1 + length(seq[1:])

In [ ]:
length("Hello")

'Hello'
'ello'
'llo'
'lo'
'o'
''

5

In [ ]:
length([1, 2, 3, 4])

[1, 2, 3, 4]
[2, 3, 4]
[3, 4]
[4]
[]

4

In [ ]:
length((4, 5, 6))

(4, 5, 6)
(5, 6)
(6,)
()

3

In [ ]:
bool([])

False

In [ ]:
bool("")

False

In [ ]:
bool(())

False

In [ ]:
bool({})

False

In [ ]:
bool(1)

True

In [ ]:
bool(0)

False

In [ ]:
bool(-2)

True

In [ ]:
bool(4)

True

In [ ]:
bool(4.5)

True

# Assignment 06-03
Take any four-digit number, using at least two different digits (leading zeros are allowed).
Arrange the digits in descending and then in ascending order to get two four-digit numbers, adding leading zeros if necessary.
Subtract the smaller number from the bigger number.
Go back to step 2 and repeat.
This process stops after a few steps, that is step 3 produces the same number. DO this with paper and pen to understand the same Start with  $1945$

$9541–1459=8082 $

$8820–0288=8532$

$8532–2358=6174$

$7641–1467=6174$

Given a suitable starting number generate the sequence. It should not repeat; that is it should stop before the repetition.

For example if  1945  is input it should return  [1945,8082,8532,6174]

In [ ]:
def num_to_digits(n: int) -> list[int]:
    if n < 10:
        return [n]
    else:
        return num_to_digits(n // 10) + [n % 10]

In [ ]:
num_to_digits(9514)

[9, 5, 1, 4]

In [ ]:
def digits_to_num(digits: list[int]) -> int:
    if len(digits) == 0:
        return 0
    else:
        return (digits_to_num(digits[:-1]) * 10) + digits[-1]

In [ ]:
digits_to_num([9, 5, 1, 4])

9514

In [ ]:
def biggest_num(n: int) -> int:
    return digits_to_num(sorted(num_to_digits(n), reverse=True))

In [ ]:
biggest_num(9514)

9541

In [ ]:
def smallest_num(n: int) -> int:
    return digits_to_num(sorted(num_to_digits(n)))

In [ ]:
smallest_num(9514)

1459

In [ ]:
def next_kaprekar(n: int) -> int:
    return biggest_num(n) - smallest_num(n)

In [ ]:
next_kaprekar(1945)

8082

In [ ]:
def kaprekar_seq(n: int) -> list[int]:
    k = next_kaprekar(n)
    if n == k:
        return [n]
    else:
        return [n] + kaprekar_seq(k)

In [ ]:
kaprekar_seq(1945)

[1945, 8082, 8532, 6174]

In [ ]:
next_kaprekar(6174)

6174


# Assignment 07-01
Camel case is often used as a naming convention in computer programming, but is an ambiguous definition due to the optional capitalization of the first letter. Some programming styles prefer camel case with the first letter capitalised, others not. For clarity, this article calls the two alternatives upper camel case (initial uppercase letter, also known as Initial Capitals, Initial Caps, InitCaps or Pascal case) and lower camel case (initial lowercase letter, also known as dromedary case). Some people and organizations, notably Microsoft, use the term camel case only for lower camel case, designating Pascal case for the upper camel case.

-- from the wikipedia

We will also use the convention that the term camel case stands for first letter lower and the term pascal case stands for first letter also capitals

We will first address two situations:

  1. converting a variable name which has underscores separating the parts to  camel case

  2. Converting a string whiich has spaces punctuation etc to a camel case variable name

## Convert a variable name to camel case.

variable_to_camel_case("basic_salary_in_dollar") => basicSalaryInDollar

In [ ]:
'basic_salary_in_dollar'.split('_')

['basic', 'salary', 'in', 'dollar']

In [ ]:
def variable_to_camel_case(text: str) -> str:
    words = text.split('_')
    camel_case = words[0].lower()
    for word in words[1:]:
        camel_case += word.capitalize()
    return camel_case

In [ ]:
variable_to_camel_case('basic_salary_in_dollar')

'basicSalaryInDollar'

In [ ]:
'basic_salary_in_dollar'.split('_')

['basic', 'salary', 'in', 'dollar']

In [ ]:
list(map(str.capitalize,'basic_salary_in_dollar'.split('_')))

['Basic', 'Salary', 'In', 'Dollar']

In [ ]:
def variable_to_camel_case(text: str) -> str:
    words = text.split('_')
    return words[0].lower() + ''.join(map(str.capitalize, words[1:]))

In [ ]:
variable_to_camel_case('basic_salary_in_dollar')

In [ ]:
def variable_to_camel_case(text: str) -> str:
    words = text.split('_')
    return words[0].lower() + ''.join([word.capitalize() for word in words[1:]])

In [ ]:
variable_to_camel_case('basic_salary_in_dollar')

'basicSalaryInDollar'

##Assignment 07-02

Convert a variable name from camel case

# Assignment 08-01

## Pascal's triangle


              1
           1     1
         1    2    1
       1   3     3   1
    1   4     6    4   1

The triangle can be constructed by first placing a 1 along the left and right edges. Then the triangle can be filled out from the top by adding together the two numbers just above to the left and right of each position in the triangle. Thus, the third row, in Hindu-Arabic numerals, is 1 2 1, the fourth row is 1 4 6 4 1, the fifth row is 1 5 10 10 5 1, and so forth. The first row, or just 1, gives the coefficient for the expansion of $(x + y)^0 = 1$; the second row, or $1~1$, gives the coefficients for $(x + y)^1 = x + y$; the third row, or 1 2 1, gives the coefficients for $(x + y)^2 = x^2 + 2xy + y^2$; and so forth.

It is possible to use the formula for $^nC_r$ and calculate each element and then format them. But a simpler method is to consider the following:

* Let us think of each row as a list: first row is $[1]$, second is $[1, 1]$; third is $[1, 2, 1]$
* so how do we go from $[1] -> [1, 1] -> [1, 2, 1]$

In [ ]:
def next_pascal_row(row: list[int]) -> list[int]:
    new_length = len(row) + 1
    new_row = []
    for i in range(new_length):
        if i == 0 or i == new_length - 1:
            new_row.append(1)
        else:
            new_row.append(row[i] + row[i-1])
    return new_row

In [ ]:
next_pascal_row([1, 2, 1])

[1, 3, 3, 1]

In [ ]:
def pascal(size: int) -> list[list[int]]:
    rows, row = [], [1]
    for r in range(size):
        rows.append(row)
        row = next_pascal_row(row)
    return rows

In [ ]:
pascal(5)

[[1], [1, 1], [1, 2, 1], [1, 3, 3, 1], [1, 4, 6, 4, 1]]

In [ ]:
def next_row(row: list[int]) -> list[int]:
    pre = [0] + row
    post = row + [0]
    new_row = []
    for a, b in zip(pre, post):
        new_row.append(a + b)
    return new_row

In [ ]:
next_row([1])

[1, 1]

In [ ]:
next_row([1, 1])

[1, 2, 1]

In [ ]:
next_row([1, 2, 1])

[1, 3, 3, 1]

In [ ]:
row = [1, 2, 1]
pre = [0] + row
print(f"{pre=}")
post = row + [0]
print(f"{post=}")
print(f"{list(zip(pre, post))=}")

pre=[0, 1, 2, 1]
post=[1, 2, 1, 0]
list(zip(pre, post))=[(0, 1), (1, 2), (2, 1), (1, 0)]