# Assignment 08-01

## Pascal's triangle


              1
           1     1
         1    2    1
       1   3     3   1
    1   4     6    4   1

The triangle can be constructed by first placing a 1 along the left and right edges. Then the triangle can be filled out from the top by adding together the two numbers just above to the left and right of each position in the triangle. Thus, the third row, in Hindu-Arabic numerals, is 1 2 1, the fourth row is 1 4 6 4 1, the fifth row is 1 5 10 10 5 1, and so forth. The first row, or just 1, gives the coefficient for the expansion of $(x + y)^0 = 1$; the second row, or $1~1$, gives the coefficients for $(x + y)^1 = x + y$; the third row, or 1 2 1, gives the coefficients for $(x + y)^2 = x^2 + 2xy + y^2$; and so forth.

It is possible to use the formula for $^nC_r$ and calculate each element and then format them. But a simpler method is to consider the following:

* Let us think of each row as a list: first row is $[1]$, second is $[1, 1]$; third is $[1, 2, 1]$
* so how do we go from $[1] -> [1, 1] -> [1, 2, 1]$

In [ ]:
def next_pascal_row(row: list[int]) -> list[int]:
    new_length = len(row) + 1
    new_row = []
    for i in range(new_length):
        if i == 0 or i == new_length - 1:
            new_row.append(1)
        else:
            new_row.append(row[i] + row[i-1])
    return new_row

In [ ]:
def next_pascal_row(row: list[int]) -> list[int]:
    new_row = []
    for i in range(len(row) + 1):
        if i == 0 or i == len(row):
            new_row.append(1)
        else:
            new_row.append(row[i] + row[i-1])
    return new_row

In [ ]:
next_pascal_row([1, 2, 1])

[1, 3, 3, 1]

In [ ]:
def pascal(size: int) -> list[list[int]]:
    rows, row = [], [1]
    for r in range(size):
        rows.append(row)
        row = next_pascal_row(row)
    return rows

In [ ]:
pascal(5)

[[1], [1, 1], [1, 2, 1], [1, 3, 3, 1], [1, 4, 6, 4, 1]]

In [ ]:
def next_row(row: list[int]) -> list[int]:
    pre = [0] + row
    post = row + [0]
    new_row = []
    for a, b in zip(pre, post):
        new_row.append(a + b)
    return new_row

In [ ]:
next_row([1])

[1, 1]

In [ ]:
def pascal(size: int) -> list[list[int]]:
    rows, row = [], [1]
    for r in range(size):
        rows.append(row)
        row = next_row(row)
    return rows

pascal(6)

[[1], [1, 1], [1, 2, 1], [1, 3, 3, 1], [1, 4, 6, 4, 1], [1, 5, 10, 10, 5, 1]]

In [ ]:
next_row([1, 1])

[1, 2, 1]

In [ ]:
next_row([1, 2, 1])

[1, 3, 3, 1]

In [ ]:
row = [1, 2, 1]
pre = [0] + row
print(f"{pre=}")
post = row + [0]
print(f"{post=}")
print(f"{list(zip(pre, post))=}")

pre=[0, 1, 2, 1]
post=[1, 2, 1, 0]
list(zip(pre, post))=[(0, 1), (1, 2), (2, 1), (1, 0)]

https://docs.python.org/3/library/functions.html#zip

https://docs.python.org/3/library/math.html#math.comb

In [ ]:
from math import comb

def pascal_row(n: int) -> list[int]:
    row = []
    for i in range(n+1):
        row.append(comb(n, i))
    return row

pascal_row(3)

[1, 3, 3, 1]

In [ ]:
import math

# math.

def pascal_row(n: int) -> list[int]:
    row = []
    for i in range(n+1):
        row.append(math.comb(n, i))
    return row

pascal_row(3)

[1, 3, 3, 1]

In [ ]:
from math import comb

def pascal_row(n: int) -> list[int]:
    return [comb(n, i) for i in range(n+1)]

def pascal_row_hof(n: int) -> list[int]:
    return list(map(lambda x: comb(n, x), range(n+1)))

print(pascal_row(1))
print(pascal_row(2))
print(pascal_row(3))

print(pascal_row_hof(1))
print(pascal_row_hof(2))
print(pascal_row_hof(3))

[1, 1]
[1, 2, 1]
[1, 3, 3, 1]
[1, 1]
[1, 2, 1]
[1, 3, 3, 1]

## Assignments_09-02:

* How to produce an upside down triangle?

* How to produce a right_angled triangle?

* How to produce a right_angled triangle, facing the other way?

* How to produce a diamond?

We start by noting that we have done all the ground work by decoupling the pattern generation from formatting

In [ ]:
STAR, SPACE, CRLF = '*', ' ', '\n'

START, REPEAT, END = STAR, SPACE + STAR, ''

WIDTH = 60

def line(line_num: int) -> str:
    return start_line() + repeat_middle(line_num) + end_line()

def start_line() -> str:
    return START

def repeat_middle(line_num: int) -> str:
    return line_num * REPEAT

def end_line() -> str:
    return END

def make_triangle(size: int) -> list[str]:
    pyramid = []
    for line_num in range(size):
        pyramid.append(line(line_num))
    return pyramid

In [ ]:
start_line()

'*'

In [ ]:
repeat_middle(3)

' * * *'

In [ ]:
end_line()

''

In [ ]:
line(4)

'* * * * *'

In [ ]:
make_triangle(5)

['*', '* *', '* * *', '* * * *', '* * * * *']

In [ ]:
def format_pyramid(pyramid: list[int], fillchar=' ') -> str:
    result = []
    for row in pyramid:
        result.append(row.center(WIDTH, fillchar))
    return CRLF.join(result)

In [ ]:
print(format_pyramid(make_triangle(5)))

                             *
                            * *
                           * * *
                          * * * *
                         * * * * *

In [ ]:
def format_pyramid(pyramid: list[int], fillchar=' ') -> str:
    return CRLF.join([row.center(WIDTH, fillchar) for row in pyramid])

In [ ]:
print(format_pyramid(make_triangle(5)))

                             *
                            * *
                           * * *
                          * * * *
                         * * * * *

In [ ]:
def format_reverse_pyramid(pyramid: list[int], fillchar=' ') -> str:
    result = []
    for row in pyramid[::-1]:
        result.append(row.center(WIDTH, fillchar))
    return CRLF.join(result)

print(format_reverse_pyramid(make_triangle(5)))

                         * * * * *
                          * * * *
                           * * *
                            * *
                             *

In [ ]:
def format_reverse_pyramid(pyramid: list[int], fillchar=' ') -> str:
    return CRLF.join([row.center(WIDTH, fillchar) for row in pyramid[::-1]])

print(format_reverse_pyramid(make_triangle(5), fillchar='_'))

_________________________* * * * *__________________________
__________________________* * * *___________________________
___________________________* * *____________________________
____________________________* *_____________________________
_____________________________*______________________________

In [ ]:
def format_right_triangle(triangle: list[int], fillchar=' ') -> str:
    return CRLF.join([row.rjust(WIDTH, fillchar) for row in triangle])

print(format_right_triangle(make_triangle(5), fillchar='_'))

___________________________________________________________*
_________________________________________________________* *
_______________________________________________________* * *
_____________________________________________________* * * *
___________________________________________________* * * * *

In [ ]:
def format_left_triangle(triangle: list[int], fillchar=' ') -> str:
    return CRLF.join([row.ljust(WIDTH, fillchar) for row in triangle])

print(format_left_triangle(make_triangle(5), fillchar='_'))

*___________________________________________________________
* *_________________________________________________________
* * *_______________________________________________________
* * * *_____________________________________________________
* * * * *___________________________________________________

In [ ]:
def format_diamond(size: int) -> list[int]:
    return format_pyramid(make_triangle(size)) + '\n' + format_reverse_pyramid(make_triangle(size-1))

print(format_diamond(4))

                             *
                            * *
                           * * *
                          * * * *
                           * * *
                            * *
                             *