##Assignment - 19-01

Write one function to calculate the perimeter of triangle, rectangle, pentagone, hexagone.

In [ ]:
def perimeter_of_shape(*side_lengths: tuple[int]) -> int:
    permiter = 0
    for side_length in side_lengths:
        permiter += side_length
    return permiter

In [ ]:
def perimeter_of_shape(*side_lengths: tuple[int]) -> int:
    return sum(side_lengths)

In [ ]:
from functools import reduce

def perimeter_of_shape(*side_lengths: tuple[int]) -> int:
    return reduce(lambda a, b: a + b, side_lengths)

In [ ]:
print(perimeter_of_shape(12, 34, 56))
print(perimeter_of_shape(12, 34, 56, 11))
print(perimeter_of_shape(12, 34, 56,10, 7))
print(perimeter_of_shape(12, 34, 56, 13, 10, 22))

102
113
119
147

#Assignment - 19 - 02

Write a function which take multiple strings as input. Concatenate the strings in the reverse order after reversing the strings.

In [ ]:
def display_in_reverse_order(*strings):
    result = []
    for string in strings:
        result.insert(0, string[::-1])
    return ''.join(result)

display_in_reverse_order("Hello", "Welcome", "to", "TechWise")

'esiWhceTotemocleWolleH'

In [ ]:
def display_in_reverse_order(*strings):
    result = []
    for string in strings:
        result.append(string[::-1])
    return ''.join(result[::-1])

display_in_reverse_order("Hello", "Welcome", "to", "TechWise")

'esiWhceTotemocleWolleH'

In [ ]:
def display_in_reverse_order(*strings):
    return ''.join([string[::-1] for string in strings][::-1])

display_in_reverse_order("Hello", "Welcome", "to", "TechWise")

'esiWhceTotemocleWolleH'

In [ ]:
def display_in_reverse_order(*strings):
    return ''.join(reversed(list(map(lambda word: word[::-1], strings))))

display_in_reverse_order("Hello", "Welcome", "to", "TechWise")

'esiWhceTotemocleWolleH'

In [ ]:
def display_in_reverse_order(*strings):
    return ''.join(strings)[::-1]

display_in_reverse_order("Hello", "Welcome", "to", "TechWise")

'esiWhceTotemocleWolleH'

In [ ]:
''.join(("Hello", "Welcome", "to", "TechWise"))[::-1]

'esiWhceTotemocleWolleH'

In [ ]:
display_in_reverse_order("Hello", "Welcome", "to", "TechWise") # -> `esiWhceTotemocleWolleH`

##Assignment - 20 - 01

###Count vowels and consonants

Write a program to read the content from the "Content.txt" file and return the count of vowels and consonants.

* Content.txt

https://drive.google.com/file/d/1h60E9b3r9ecFLPxnd5lYzDzLiza0NsK3/view?usp=sharing

##Assignment - 20 - 02

##Add Rank to the students

Implement a program to rank the students according to their marks.

Note: The ranking system:

If two students of the class get equal marks, they are given the same rank but students with different marks are given the rank as the (number of students above them + 1). See the example for more clarity.

There are five students in a class. Their marks distribution is:
98 68 74 21 74

That is first student gets marks 98, second gets 68, and so on.
Now , the highest marks is 98. So, the first student gets rank 1.
Next higher marks is 74. So student 3 and 5 gets rank 2.
Next higher marks is 68 and there are three students (1,3,5) who have got marks higher than him. So he gets rank 4.
Similarly , student with marks 21 gets rank 5.


Sample data in the file

    John, 84
    Micheal, 90
    Peter, 65
    Jenny, 90
    Ryan, 77
    Ashaa, 84
    Kerry, 52
    Kingsley, 17
    Wincy, 95
    Princy, 95
    Johnright, 65
    Mike, 76
    Peterpot, 64
    Mark, 98
    Raj, 76
    Ashaa, 85
    Perrt, 53
    Queen, 15
    Anshu, 90
    Amar, 92




**Expected Output:**

    1  Mark           98    
    2  Wincy          95    
    2  Princy         95    
    4  Amar           92    
    5  Micheal        90    
    5  Jenny          90    
    5  Anshu          90    
    8  Ashaa          85    
    9  John           84    
    9  Ashaa          84    
    11  Ryan           77    
    12  Mike           76    
    12  Raj            76    
    14  Peter          65    
    14  Johnright      65    
    16  Peterpot       64    
    17  Perrt          53    
    18  Kerry          52    
    19  Kingsley       17    
    20  Queen          15    


Sample file: StudentData.txt
https://drive.google.com/file/d/1dNAPtIZ6McDx9hbXQjPXghjOQ2RoDf9Y/view?usp=sharing

In [ ]:
with open('StudentData.txt', 'r') as lines:
    print(lines)

<_io.TextIOWrapper name='StudentData.txt' mode='r' encoding='UTF-8'>

In [ ]:
def read_file(filename: str) -> dict[list[str]]:
    result_dict = dict()
    with open(filename, 'r') as lines:
        for line in lines.readlines():
            name, mark = line.strip().split(', ')
            if int(mark) not in result_dict:
                result_dict[int(mark)] = [name]
            else:
                result_dict[int(mark)].append(name)

    return result_dict

read_file('StudentData.txt')

{84: ['John', 'Ashaa'],
 90: ['Micheal', 'Jenny', 'Anshu'],
 65: ['Peter', 'Johnright'],
 77: ['Ryan'],
 52: ['Kerry'],
 17: ['Kingsley'],
 95: ['Wincy', 'Princy'],
 76: ['Mike', 'Raj'],
 64: ['Peterpot'],
 98: ['Mark'],
 85: ['Ashaa'],
 53: ['Perrt'],
 15: ['Queen'],
 92: ['Amar']}

In [ ]:
# MORE PYTHONIC

def read_file(filename: str) -> dict[list[str]]:
    result_dict = dict()
    with open(filename, 'r') as lines:
        for line in lines.readlines():
            name, mark = line.strip().split(', ')
            result_dict[int(mark)] = result_dict.get(int(mark), []) + [name]

    return result_dict

read_file('StudentData.txt')

{84: ['John', 'Ashaa'],
 90: ['Micheal', 'Jenny', 'Anshu'],
 65: ['Peter', 'Johnright'],
 77: ['Ryan'],
 52: ['Kerry'],
 17: ['Kingsley'],
 95: ['Wincy', 'Princy'],
 76: ['Mike', 'Raj'],
 64: ['Peterpot'],
 98: ['Mark'],
 85: ['Ashaa'],
 53: ['Perrt'],
 15: ['Queen'],
 92: ['Amar']}

In [ ]:
def assign_rank(filename: str) -> str:
    data = read_file(filename)
    rank, output = 1, ''
    for mark, names in sorted(data.items(), reverse=True):
        for name in names:
            output += f"{rank:4d} {name:15} {mark:4d}\n"
        rank += len(names)
    return output

print(assign_rank("StudentData.txt"))

   1 Mark              98
   2 Wincy             95
   2 Princy            95
   4 Amar              92
   5 Micheal           90
   5 Jenny             90
   5 Anshu             90
   8 Ashaa             85
   9 John              84
   9 Ashaa             84
  11 Ryan              77
  12 Mike              76
  12 Raj               76
  14 Peter             65
  14 Johnright         65
  16 Peterpot          64
  17 Perrt             53
  18 Kerry             52
  19 Kingsley          17
  20 Queen             15

In [ ]:
for key, val in sorted(read_file('StudentData.txt').items()):
    print(key, val)

15 ['Queen']
17 ['Kingsley']
52 ['Kerry']
53 ['Perrt']
64 ['Peterpot']
65 ['Peter', 'Johnright']
76 ['Mike', 'Raj']
77 ['Ryan']
84 ['John', 'Ashaa']
85 ['Ashaa']
90 ['Micheal', 'Jenny', 'Anshu']
92 ['Amar']
95 ['Wincy', 'Princy']
98 ['Mark']

In [ ]:
def read_file(filename: str) -> [str]:
    data = []
    with open(filename, 'r') as studentdata:
        for line in studentdata.readlines():
            data.append(line.strip().strip('\n').split(', '))
    return data
read_file("StudentData.txt")

[['John', '84'],
 ['Micheal', '90'],
 ['Peter', '65'],
 ['Jenny', '90'],
 ['Ryan', '77'],
 ['Ashaa', '84'],
 ['Kerry', '52'],
 ['Kingsley', '17'],
 ['Wincy', '95'],
 ['Princy', '95'],
 ['Johnright', '65'],
 ['Mike', '76'],
 ['Peterpot', '64'],
 ['Mark', '98'],
 ['Raj', '76'],
 ['Ashaa', '85'],
 ['Perrt', '53'],
 ['Queen', '15'],
 ['Anshu', '90'],
 ['Amar', '92']]

In [ ]:
def get_mark(record: list[int]) -> int:
    return int(record[1])

In [ ]:
def assign_rank(result: list) -> str:
    rank = 1
    output = ""
    sorted_list = sorted(result, key = get_mark, reverse = True)
    name, prev_mark = sorted_list[0]
    output += f"{rank:5} {name:10} {prev_mark:5} \n"
    for idx, items in enumerate(sorted_list[1:]):
        name, current_mark = items
        if current_mark == prev_mark:
            output += f"{rank:5} {name:10} {current_mark:5}\n"
        else:
            rank = idx + 2
            output += f"{rank:5} {name:10} {current_mark:5}\n"
        prev_mark = current_mark
    return output

In [ ]:
print(assign_rank(read_file("StudentData.txt")))

    1 Mark       98
    2 Wincy      95
    2 Princy     95
    4 Amar       92
    5 Micheal    90
    5 Jenny      90
    5 Anshu      90
    8 Ashaa      85
    9 John       84
    9 Ashaa      84
   11 Ryan       77
   12 Mike       76
   12 Raj        76
   14 Peter      65
   14 Johnright  65
   16 Peterpot   64
   17 Perrt      53
   18 Kerry      52
   19 Kingsley   17
   20 Queen      15