# Session 11

Coverage

    * **dictionaries**
    * FizzBuzz
    * mon(th)-dd-yyyy -> yyyyddd
    * Assignments:
	   - Roman to Arabic
       - Arabic to Roman

## Problem set

* FizzBuzz
* dd mm yyyy -> yyyyddd

# Dictionaries

* are collections of objects
* unordered -- pre python version 3.7*
* do not allow duplicate keys -- by definition
* stored inside curly braces, separated by commas
* access values using keys
* mutable

In [ ]:
strings_to_values = {"one": 1, "two": 2, "three": 3}
print(strings_to_values)

{'one': 2, 'two': 2, 'three': 3}

In [ ]:
strings_to_values = {"one": 1, "two": 2, "three": 3}
nums_to_strings = {1: "one", 2: "two", 3: "three"}
print(strings_to_values)
print(nums_to_strings)

{'one': 1, 'two': 2, 'three': 3}
{1: 'one', 2: 'two', 3: 'three'}

In [ ]:
#invalid_dict = {[1,2,3]: "123"}  # => Yield a TypeError: unhashable type: 'list'
valid_dict = {(1,2,3):[1,2,3]}   # Values can be of any type, however.

In [ ]:
strings_to_values = {"one": 1, "two": 2, "three": 3}
print(strings_to_values["three"])

3

In [ ]:
for key in strings_to_values.keys():
    print(key)

one
two
three

In [ ]:
for key in strings_to_values.keys():
    print(strings_to_values[key])

1
2
3

In [ ]:
for value in strings_to_values.values():
    print(value)

1
2
3

In [ ]:
for key, value in strings_to_values.items():
    print(key, value)

one 1
two 2
three 3

In [ ]:
for item in strings_to_values.items():
    print(item)

('one', 1)
('two', 2)
('three', 3)

In [ ]:
print(strings_to_values)
print("four" in strings_to_values)
print(strings_to_values.get("four"))
print("three" in strings_to_values)
print(strings_to_values.get("three"))

{'one': 1, 'two': 2, 'three': 3}
False
None
True
3

In [ ]:
strings_to_values["one"] = 11
print(strings_to_values)
strings_to_values["one"] = 1
print(strings_to_values)

del strings_to_values["one"]
print(strings_to_values)
strings_to_values["one"] = 1
print(strings_to_values)

{'two': 2, 'three': 3, 'one': 11}
{'two': 2, 'three': 3, 'one': 1}
{'two': 2, 'three': 3}
{'two': 2, 'three': 3, 'one': 1}

In [ ]:
strings_to_values.update({"one": 2, "two": 3})
print(strings_to_values)

{'two': 3, 'three': 3, 'one': 2}

In [ ]:
strings_to_values.update({"four": 4, "five": 5})
print(strings_to_values)

{'two': 3, 'three': 3, 'one': 2, 'four': 4, 'five': 5}

#Problem 01

FIZZBUZZ using dictionary

In [ ]:
def fbn(n: int) -> str:
    fizzbuzzer = {(True, True): "FIZZBUZZ",
                  (True, False): "FIZZ",
                  (False, True): "BUZZ",
                  (False, False): str(n)}
    return fizzbuzzer[(n % 3 == 0, n % 5 == 0)]

def fizzbuzz(limit: int) -> list[str]:
    fb = []
    for n in range(1, limit):
        fb.append(fbn(n))
    return fb

print(fizzbuzz(16))

['1', '2', 'FIZZ', '4', 'BUZZ', 'FIZZ', '7', '8', 'FIZZ', 'BUZZ', '11', 'FIZZ', '13', '14', 'FIZZBUZZ']

In [ ]:
print(fizzbuzz(16))

['1', '2', 'FIZZ', '4', 'BUZZ', 'FIZZ', '7', '8', 'FIZZ', 'BUZZ', '11', 'FIZZ', '13', '14', 'FIZZBUZZ']

In [ ]:
def fizzbuzz_2(n: int) -> list[str]:
  dict1 = {3: "FIZZ", 5: "BUZZ", 15: "FIZZBUZZ"}
  l1 = []
  for item in range(1, n):
    item2 = str(item)
    for key in dict1.keys():
      if item % key == 0:
        item2 = dict1.get(key)
    l1.append(item2)
  return l1
print(fizzbuzz_2(31))

['1', '2', 'FIZZ', '4', 'BUZZ', 'FIZZ', '7', '8', 'FIZZ', 'BUZZ', '11', 'FIZZ', '13', '14', 'FIZZBUZZ', '16', '17', 'FIZZ', '19', 'BUZZ', 'FIZZ', '22', '23', 'FIZZ', 'BUZZ', '26', 'FIZZ', '28', '29', 'FIZZBUZZ']

In [ ]:
def FizzBuzz(limit: int) -> list[str]:
    result = []
    for i in range(1, limit):
        result.append({
            3: "Fizz",
            5: "Buzz",
            15: "FizzBuzz"
        }.get(15 * (not i % 15) or
              5 * (not i % 5) or
              3 * (not i % 3), '{}'.format(i)))
    return result

print(FizzBuzz(16))

['1', '2', 'Fizz', '4', 'Buzz', 'Fizz', '7', '8', 'Fizz', 'Buzz', '11', 'Fizz', '13', '14', 'FizzBuzz']

##Problem 2
### mon(th) dd yyyy -> yyyyddd
We are given data strings of the form

"mon(th) dd, yyyy"

Examples:

Jan 4,2012

February 07 1987

may 30, 1999

 * The month name may or may not be capitalised
 * The month name may be spelt out in full or just the first three letters
    - (Minimum three is guaranteed)
 * The day may or may not have a leading zero
 * The day and year will be separated by either
    - Comma or
    - Space or
    - Comma and a space

The task is convert such strings to the seven digit number yyyyddd, where ddd is the ddd$^{th}$ day of the year

Jan 4, 2012 $\Rightarrow 2012004$

February 07 1987 $\Rightarrow 1987038$

may 30, 1999 $\Rightarrow 1999150$

In [ ]:
def convert_to_yyyyddd(s: str) -> int:

    CUMULATIVE_DAYS = {"JAN":  0,  "FEB":  31,  "MAR": 59,  "APR": 90, "MAY": 120, "JUN": 151,
                "JUL": 181, "AUG": 212, "SEP": 243, "OCT": 273, "NOV": 304, "DEC": 334}

    mm, dd, yyyy = clean_up(s)
    if yyyy == 0:
        return -1
    return yyyy * 1000 + CUMULATIVE_DAYS[mm] + dd

In [ ]:
def is_leap_year(yyyy: int) -> bool:
    if yyyy % 100 == 0:
        return yyyy % 400 == 0
    else:
        return yyyy % 4 == 0

def clean_up(s: str) -> tuple[str, int, int]:
    COMMA, SPACE = ",", " "
    months = {"JAN", "FEB", "MAR", "APR", "MAY", "JUN", "JUL", "AUG", "SEP", "OCT", "NOV", "DEC"}
    d31s = {"JAN", "MAR", "MAY", "JUL", "AUG", "OCT", "DEC"}

    month, sdd, syyyy = s.replace(COMMA, SPACE).split()
    mon = month.upper()[:3]
    yyyy = int(syyyy)
    dd = int(sdd)
    leap_year_adj = int(is_leap_year(yyyy))

    if mon not in months:
        return "", 0, 0

    if dd < 1:
        return "", -1, 0

    if mon == "FEB":
        if dd > 28 + leap_year_adj:
            return "FEB", -1, 0
    if mon in d31s:
        if dd > 31:
            return mon, -1, 0
    elif dd > 30:
        return mon, -1, 0


    return mon, dd, yyyy

In [ ]:
print(convert_to_yyyyddd("JAN 4, 2012"))

2012004

In [ ]:
print(convert_to_yyyyddd("Jan 4, 2012"))

2012004

In [ ]:
print(convert_to_yyyyddd("January 4, 2012"))

2012004